// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ### Fonts

// - Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)
// - Weights: 300, 600, 800

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// ## Colors

// ### Light Mode

:root {
  --Text: hsl(200, 15%, 8%);
  --BG: hsl(0, 0%, 98%);
  --Input: hsl(0, 0%, 52%);
  --Elements: hsl(0, 0%, 100%);
  --Box-shadow: 0.4rem 0.4rem 0.5rem 0rem hsl(0, 0%, 95%);
}

.dark {
  --Text: hsl(210, 20%, 90%);
  --BG: hsl(207, 26%, 17%);
  --Elements: hsl(209, 23%, 22%);
  --Box-shadow: 0.4rem 0.4rem 0.5rem 0rem hsl(207, 26%, 14%);
}

// ## Typography

// ### Body Copy

// - Homepage Items: 14px
// - Detail Page: 16px

// ## Icons

// For the icons, you can use a font icon library. Don't worry if the icons that you choose don't look exactly like they do on the design.

// Some suggestions can be found below:

// - [Font Awesome](https://fontawesome.com)
// - [IcoMoon](https://icomoon.io)
// - [Ionicons](https://ionicons.com)

html {
  font-size: 62.5%;
  box-sizing: border-box;
  // overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-size: 1.4rem;
  min-height: 100vh;
  background-color: var(--BG);
  overflow-x: hidden;
  width: 100vw;
  margin-right: calc(100vw - 100%);
}

img {
  height: auto;
  display: block;
}

.text {
  color: var(--Text);
  font-weight: 600;
}

.text2 {
  font-weight: 300;
  color: var(--Text);
}

.tittle {
  color: var(--Text);
}

button {
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--Text);
}

.border__country:hover,
.back__btn:hover {
  filter: brightness(1.5);
  transition: filter 0.2s;
}

// Scroll Bar

/* width */
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.2rem var(--Input);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Text);
  border-radius: 0.4rem;
}
