@use './base' as *;

.country-card {
  background-color: var(--Elements);
  height: 33.5rem;
  width: 27rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--Box-shadow);
  cursor: pointer;

  .img-container {
    width: 27rem;
    height: 16rem;
    overflow: hidden;

    .country-flag {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  .card__description {
    .tittle {
      margin-bottom: 1rem;
    }

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2.5rem 2.5rem 5rem;
    max-height: 17.5rem;
  }
}

.input__text {
  border: none;
  width: 48rem;
  height: 5.5rem;
  box-shadow: var(--Box-shadow);
  background: url(../assets/images/search-icon.svg) no-repeat left
    var(--Elements);
  background-position: 3rem;
  padding-left: 6.5rem;
  font-size: 1.4rem;
  color: var(--Input);
  border-radius: 0.5rem;

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--Input);
  }
}

.select__container{
  min-width: 20rem;
  height: 5.5rem;
  background-color: var(--Elements);
  box-shadow: var(--Box-shadow);
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;

  .select__btn{
    color: var(--Text);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2.2rem 0 1.8rem;
  }

  .arrowIcon{
    max-width: 1rem;
    filter: var(--FilterImg);
  }

  .select__dropdown__container{
    position: absolute;
    top: 110%;
    width: 100%;
    background-color: var(--Elements);
    padding: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: var(--Box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .items{
      padding: 0 2.2rem;
      display: flex;
      align-items: center;
      height: 3rem;
      cursor: pointer;
    }

    .items:hover{
      background-color: var(--Input);
    }
  }
}

.btn__container {
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;

  .back__btn {
    align-self: start;
    width: 13.5rem;
    height: 4rem;
    border: none;
    box-shadow: var(--Box-shadow);
    background-color: var(--Elements);
    cursor: pointer;
    margin-bottom: 7rem;
  }
}

.ReactLoading{
  filter: invert(1);
}